* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-header {
  width: 100%;
  background-color: #191c21;
  padding: 0em, 2em, 0em, 2em;
  height: fit-content;
}

.header-title {
  padding-bottom: 0.5em;
}

.search {
  width: 40%;
  margin-bottom: 2em;
  padding-left: 1em;
  height: 2em;
  border-radius: 2%;
  border-style: none;
}

 
.search-button {
  margin-left: 2em;
  height: 2em;
  background-color: #3d414b;
  color: white;
  border-style: none;
  border-radius: 2%;
}

.result-display {
  padding: 4em;
  padding-top: 2em;
  text-align: start;
}

p {
  color: white;
}

.gist {
  display: flex;
  align-items: center;
}

.lang-tags {
  flex: 40%;
  margin-right: 2em;
  text-align: right;
}

.tags-badge {
  background-color: purple;
  margin-left: 1em;
  font-size: medium;
  padding: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 10%;
}

.gist-link {
  flex: 100%;
  cursor: pointer;
  flex-wrap: wrap;
}

.avatar-wrap {
  display: block;
  flex: 20%;
  text-align: right;
}

.avatar {
  margin: -0.5em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.file-content {
  font-size: 10sp;
  white-space: pre-wrap;
}
